[submodule "dependency/imgui"]
	path = dependency/imgui
	url = git@github.com:ocornut/imgui.git
[submodule "dependency/ImGuizmo"]
	path = dependency/ImGuizmo
	url = git@github.com:CedricGuillemet/ImGuizmo.git
[submodule "dependency/glfw"]
	path = dependency/glfw
	url = git@github.com:glfw/glfw.git
[submodule "dependency/vcpkg"]
	path = dependency/vcpkg
	url = git@github.com:microsoft/vcpkg.git
[submodule "dependency/IconFontCppHeaders"]
	path = dependency/IconFontCppHeaders
	url = git@github.com:juliettef/IconFontCppHeaders.git
[submodule "dependency/libconfig"]
	path = dependency/libconfig
	url = git@github.com:hyperrealm/libconfig.git
